{% extends 'blogs/base.html' %}

{% block page_header %}
<title>Blog posts</title>
<div class="row">
    <div class="col">
        <h2 class='text'>Posts</h2>
    </div>
    <div class="col-mr-auto">
<h3><a class="btn btn-primary btn-md"
    href="{% url 'blogs:new_blog' %}">Add a new post</a></h3>
    </div>
</div>
{% endblock page_header %}

{% block content %}
<!-- Sort by form-->
<div class="d-flex flex-row bd-highlight mb-3">
    <p style="display: inline;">Sort by:</p>
    <form style="display: inline;" method="GET" action="{% url 'blogs:blog_posts' %}">
        <button class="btn btn-sm text-info" type="submit" 
            name="oldest" value="post">Newest</button>
        <button class="btn btn-sm text-info" type="submit" 
            name="newest" value="post">Oldest</button>
    </form>
</div>
<!-- end of sort by form-->

<!-- List of blog posts -->
<div class="row">
    <div class="col">
        <ul class="navbar-nav">
            {% for blog in blogs %}
            <li class="nav-item bg-light pd-2 mb-4 shadow-sm">
                <a href="{% url 'blogs:blog_post' blog.id %}" 
                    style="text-decoration:   none; color: black;">
                    <h4>{{blog.title.title}}</h4>
                    <p>{{blog.date_added}} By {{blog.owner}}</p>
                    <h6 class="navbar-text">{{blog.text|slice:'255'|safe}}.....</h6>
                    <div class="row mb-2">
                        <div class="col">
                            {% if blog.owner == user %}
                            <a class="btn btn-info"
                                href="{% url 'blogs:edit_blog' blog.id %}">Edit</a>
                            <a class="btn btn-danger" 
                                href="{% url 'blogs:del_post' blog.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li>
            {% empty %}
            <p>No blogs were add</p>
            {% endfor %}
        </ul>
    </div>
</div>
<!--End of the list of blog posts-->

{% endblock content %}