{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
{% endblock page_header %}

{% block content %}
<div class="container">
    <div class="row">

      <!-- Dictioncary Section-->
      <div class="col-3">
        <!-- Dictionary form-->
        Mini Dictionary
        <form class="mt-1" method="post" action="{% url 'blogs:blog_post' post_pk %}">
          {% csrf_token %}
          {% bootstrap_form dict_form %}
          <button class="btn btn-primary btn-md" 
            type="submit" name="addWord" value="addWord">Save word</button>
        </form>

        <!-- Saved dictionaries-->
        <ul>
          {% for dictionary in dictionaries %}
          <li class="nav-item"><a href="#{{dictionary}}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="{{dictionary}}">{{dictionary}}</a>
            </li>

            <!-- Form for deleting a spesifc dictionary-->
          <div>
            <ul>
              <li class="collapse" id="{{dictionary}}">{{dictionary.word_translation}}
                <form class="mt-2" action="{% url 'dictionaries:del_dictionary' blog_post.id dictionary.id %}" method="POST">
                  {% csrf_token %}
                <button class="btn btn-danger btn-sm" 
                type="submit" name="del" value="post">Delete</button>      
              </form>
              </li>
            </ul>
          </div>
          {% empty %}
          <p>No words were added</p>
          {% endfor %}
        </ul>
      </div>

      <!-- Blog Post Section-->
      <div class="col-6">
        <h2>{{blog_post.title}}</h2>
        {{blog_post.text | safe}}
      </div>

      <!-- Translation section-->
      <div class="col-3">
        Google translate
        <form method="GET" action="{% url 'blogs:blog_post' post_pk %}">
          <div class="form-row mt-1">
            <div class="col">
          {% csrf_token %}
          {{trans_form.source_language}}
            </div>
            <div class="col">
              {{trans_form.target_language}}
            </div>
          </div>
          <div class="form-row">
            <div class="col">
          {{trans_form.input_langauge}}
            </div>
            </div>

          <button class="btn btn-primary btn-md" 
            type="submit" name="addWord" value="addWord">Translate</button>
        </form>
        <div class="container border border-secondary rounded-lg mt-2 pt-0 pl-3 pr-3 pb-5">
          <div class="row pb-5">
            <div class="col pb-5">
              {{translation}}
            </div>
          </div>
        </div>
        <!--{{translation}}-->

      </div>
    </div>
  </div>
{% endblock content %}