{% extends 'blogs/base.html' %}
{% block page_header %}
<div class="jumbotron">
    <h1>DjangoBlog</h1>
    <p>DjangoBlog is a blogging website that been written in Python
    using the Django framwork. It shares some basic functionality,
    such as creating a new user, creating new posts, editing existing posts
    , and some other under the hood functions.</p>
    <a class="btn btn-danger btn-lg" role= "button"
    href="{% url 'blogs:new_blog' %}">Write your new blog now</a>
</div>
{% endblock page_header %}
