.customNav
{
    background-color:#457b9d;
    color: #f1faee;
}
.customNav a {
    color: #f1faee;
}
.customNav a:hover {
    color:#1d3557 ;
}
.customNav button {
    color: #f1faee;
}
.iconButton {
    border: none;
    background-color: transparent;
}
.dictionaryItem {
    list-style: none;
}
#customBrand {
    color: #a8dadc;
}
#customFooter {
    position: relative;
    height: 50px;
    margin-top: 200px; 
    text-align: center; 
    background-color:#457b9d;
    color:#f1faee ;
}
#dictionaryList {
    margin-top: 0.5rem;
    border-style: double;
    padding-left: 2rem;
}